- name: Run commands on system without Python
  hosts: all
  gather_facts: no
  become: yes
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
  tasks:
    - name: Enable passwordless sudo
      raw: |
        usermod -aG sudo moody
        echo "moody ALL=(ALL:ALL) NOPASSWD: ALL" | sudo tee -a /etc/sudoers >/dev/null && sudo visudo -cf /etc/sudoers