---
- name: Install k3
  hosts: control
  become: yes
  gather_facts: no

  tasks:

    - name: Install K3s server
    # Equivalent to: curl -sfL https://get.k3s.io | sh -
      ansible.builtin.shell: "curl -sfL https://get.k3s.io | sh -"
      args:
        creates: /usr/local/bin/k3s

    - name: Wait for K3s to generate token
      ansible.builtin.wait_for:
        path: /var/lib/rancher/k3s/server/node-token
        timeout: 60

    - name: Read K3s token
      ansible.builtin.slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token

    - name: Set K3s join token as a fact
      ansible.builtin.set_fact:
        k3s_join_token: "{{ k3s_token.content | b64decode | trim }}"
      run_once: true

    - name: Print agent join token
      ansible.builtin.debug:
        msg: "{{ k3s_token.content | b64decode | trim }}"


- name: Install K3s agents
  hosts: nodes
  become: yes
  gather_facts: yes
  tasks:

    # - name: Print all available facts
    #   ansible.builtin.debug:
    #     var: ansible_facts
      # verbosity: 4 # Use verbosity: 4 to only show when running with -vvvv

    - name: Install K3s agent with token
      shell: |
        curl -sfL https://get.k3s.io | K3S_URL="https://server:6443" \
        K3S_TOKEN="{{ hostvars[groups['control'][0]]['k3s_join_token'] }}" sh -
      args:
        creates: /var/lib/rancher/k3s/agent